<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Tiny Project</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!--<link rel=stylesheet type=text/css href='/static/style.css'>-->
	</head>
	<body>
		<div class=page>
  			<h1>Stocks graphs</h1>
  			<div class=metanav>

    			<h4>Enter a stock ticker (eg. KO, COP, DAL, GOOG, FB) and select the desired features. You can find a list of <a href="https://www.quandl.com/blog/useful-lists">tickers here.</a></h4>

    			<form id='input' method='post' action='index'>	
	  			<p>
					Ticker symbol: <input type='text' name='ticker' />
	  			</p>
	  			<p>
					<input type="checkbox" name='features' value='Close' checked>Closing price<br>
					<input type="submit" value="Submit">
	  			</p>
				</form>

  			</div>
		</div>
	</body>
</html>